doctypes/sidebar/rng/sidebar.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" 
  xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/" 
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns="http://relaxng.org/ns/structure/1.0" 
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Topic Shell</moduleTitle>
    <headerComment xml:space="preserve">
=============================================================
DITA For Publishers Sidebar Topic Type

Represents a sidebar within a publication. May be nested as
needed.

Specializes from topic

Copyright (c) 2009, 2017 DITA For Publishers

=============================================================
</headerComment>
    <moduleMetadata>
      <moduleType>topicshell</moduleType>
      <moduleShortName>sidebar</moduleShortName>
      <shellPublicIds>
        <dtdShell>urn:pubid:dita4publishers.org:doctypes:dita:sidebar</dtdShell>
        <rncShell>urn:pubid:dita4publishers.org:doctypes:dita:rnc:sidebar</rncShell>
        <rngShell>urn:pubid:dita4publishers.org:doctypes:dita:rng:sidebar</rngShell>
        <xsdShell>urn:pubid:dita4publishers.org:doctypes:dita:xsd:sidebar</xsdShell>
      </shellPublicIds>
    </moduleMetadata>
  </moduleDesc>
  
  <div>
    <a:documentation>ROOT ELEMENT</a:documentation>
    <start>
      <ref name="sidebar.element"/>
    </start>
  </div>
  
  <div>
    <a:documentation>DOMAINS ATTRIBUTE</a:documentation>
  <define name="domains-att" combine="interleave">
    <optional>
      <attribute name="domains"
        a:defaultValue="(topic hi-d) (topic ut-d) (topic indexing-d) (topic hazard-d)"/>
    </optional>
  </define>
  </div>
  <div>
    <a:documentation>INCLUDE MODULES</a:documentation>
    <include href="urn:pubid:dita4publishers.org:doctypes:dita:rng:commonDomainIntegrationsMod.rng"/>
    <!--
      <!ENTITY % sidebar-info-types 
  "division |
   sidebar |
   sidebar
  "
>
-->
    <include href="urn:pubid:dita4publishers.org:modules:rng:sidebarMod.rng">
      <define name="sidebar-info-types">
        <ref name="sidebar.element"/>
      </define>
      
    </include>
  </div>
  <div>
    <a:documentation>ID-DEFINING-ELEMENT OVERRIDES</a:documentation>
    <define name="any">
      <zeroOrMore>
        <choice>
          <ref name="idElements"/>
          <element>
            <anyName>
              <except>
                <name>topic</name>
                <name>sidebar</name>
                <nsName ns="http://www.w3.org/2000/svg"/>
                <nsName ns="http://www.w3.org/1998/Math/MathML"/>
              </except>
            </anyName>
            <zeroOrMore>
              <attribute>
                <anyName/>
              </attribute>
            </zeroOrMore>
            <ref name="any"/>
          </element>
          <text/>
        </choice>
      </zeroOrMore>
    </define>
  </div>
</grammar>
